.Footer-container {
    position: relative;
}

.Footer-container>hr {
    border: 1px orange solid;
}

.footer {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    height: 20rem;
}

.social-links {
    display: flex;
    gap: 4rem;
}

.social-links>img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.logo-footer>img {
    width: 10rem;
}

.blur-pr {
    width: 26rem;
    height: 12rem;
    right: 15%;
    bottom: 0;
}

.blur-pl {
    width: 26rem;
    height: 12rem;
    left: 15%;
    filter: blur(200px);
    background: red;
    bottom: 0;
}